/* comment this CSS rule to show the car details template for styling purposes */
.etResult, .etStage {
  display:none; 
}
.etWidget select, .etWidget label {
  display:block;
  width:100%;
}
.etWidget label {
  margin-bottom:5px;
}
.etWidget select {
  margin-bottom:10px;
}
.etWidget header {
  display:block !important;
  padding:20px;
  text-align:center;
}
.etWidget .etContent, .etResult {
  padding:20px;
}
.etShowVehicleButton {
  text-align:center;
}
.etResult table, .etResult p {
  margin-bottom:20px;
}
.etResult table {
  width:100%;
}
.etStage .etStageDesc {
  margin-left:20px;
  margin-bottom:10px;
  position:relative;
}
.etStageSelector {
  display:block;
  margin-bottom:-35px;
  padding-top:5px;
}
