.etWidget select {
	border:1px solid #ccc;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:5px 10px;
}
.etError {
	background-color:#cc0000;
	color:#fff;
	padding:5px 10px;
}