/* comment this CSS rule to show the car details template for styling purposes */
.etResult, .etStage, .etRequestQuote {
  display:none;
  font-family:Arial;
  font-size:1em;
}
.etWidget select, .etWidget label, .etRequestQuote label, .etRequestQuote select, .etRequestQuote .etFullWidth {
  display:block;
  width:100%;
  margin-bottom:10px;
}
.etRequestQuote .etFullWidth {
  box-sizing: border-box; /* css3 rec */
  -moz-box-sizing: border-box; /* ff2 */
  -ms-box-sizing: border-box; /* ie8 */
  -webkit-box-sizing: border-box; /* safari3 */
  -khtml-box-sizing: border-box; /* konqueror */
}
.etWidget label, .etRequestQuote {
  margin-bottom:5px;
}
.etWidget header {
  display:block !important;
  padding:20px;
  text-align:center;
}
.etWidget .etContent, .etResult, .etRequestQuote, .etLightbox {
  padding:20px;
}
.etSubmitButton {
  text-align:center;
}
.etResult table, .etResult p {
  margin-bottom:20px;
}
.etResult table {
  width:100%;
}
.etStage .etStageDesc {
  margin-left:20px;
  margin-bottom:10px;
  position:relative;
}
.etStageSelector {
  display:block;
  margin-bottom:-35px;
  padding-top:5px;
}
.etError, .etNotice {
  padding:5px 10px;
}
.etImg {
  margin-right:10px;
  margin-bottom:5px;
}
.carDetails {
  margin-bottom:30px;
}
.etStageTabs {
  margin:0px;
  padding:0px;
}
.etStageTabs li {
  float:left;
  display:block;
  padding:5px 10px;
  background-color:#efefef;
  margin-right:5px;
}
.etStageTabs li.on {
  border:1px solid #ccc;
  border-bottom:none;
  background-color:#fff;
  margin-bottom:-1px;
  position:relative;
  z-index:100;
}
.etDarkArea {
  background-color:rgba(0,0,0,.5);
  position:fixed;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
  z-index:999;
}
.etResult, .etRequestQuote, .etLightbox {
  z-index:1000;
  position:absolute;
  top:100px;
  margin:auto;
  background-color:#fff;
  left:20%;
  min-width:300px;
  max-width:800px;
  right:20%;
  box-shadow:0px 5px 20px rgba(0,0,0,.5);
}
.etLeft {
  float:left;
}
.etRight {
  float:right;
}
.etClose {
  text-decoration:none;
  color:#000;
  font-weight:bold;
  font-size:18px;
  border-radius:12px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  border:1px solid #ccc;
  display:block;
  width:24px;
  height:24px;
  line-height:24px;
  text-align:center;
}
.etClose:hover {
  background-color:#000;
  border-color:#000;
  color:#fff;
}
.etClose:after {
  clear:both;
}
.etSprite {
  display:block;
  background-image:url(../img/etctSprite.png);
  background-repeat:no-repeat;
  overflow:hidden;
  text-indent:-1000px;
}
.etSprite.etAvailable {
  width:16px;
  height:16px;
  background-position:0px -16px;
  margin:auto;
}
.etSprite.etUnavailable {
  width:16px;
  height:16px;
  background-position:0px 0px;
  margin:auto;
}
.etSprite.etChart {
  width:16px;
  height:16px;
  background-position:-16px 0px;
  display:inline-block;
}
a:hover .etSprite.etChart {
  background-position:-16px -16px;
}
.etSprite.etVideo {
  width:16px;
  height:16px;
  background-position:-32px 0px;
  display:inline-block;
}
a:hover .etSprite.etVideo {
  background-position:-32px -16px;
}
.etInline {
  display:inline !important;
}
.etStages table td {
  text-align:center !important;
}
.etStages a .etSprite {
  margin-bottom:-2px;
}
.etLayoutHalf {
  width:48%;
  margin:0px 1%;
}
.etLayoutQuarter {
  margin:0px 1%;
  width:23%;
}
.etRequestQuote hr {
  margin:10px 0px 15px 0px;
  border:none;
  border-bottom:1px solid #efefef;
}
.clearfix {
  clear:both;
}