.etWidget header {
  background-color:#000;
}
.etStages a, .etStageTabs a {
  color:#00B3FF;
  text-decoration:none;
}
.etWidget, .etResult, .etRequestQuote {
  background-color:#fff;
  border:1px solid #efefef;
  margin-bottom:10px;
  font-size:0.8em;
}
.etWidget h1, .etResult h1 {
  font-size:1.5em;
  margin:5px 0px;
}
.etWidget h1 {
  color:#fff;
}
.etWidget h2, .etResult h2, .etRequestQuote h2 {
  font-size:1.3em;
  margin:5px 0px;
}
.etWidget select, .etFullWidth, .etRequestQuote select {
  border:1px solid #ccc;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  padding:5px 10px;
}
.etSubmitButton input, .etSubmitButton button {
  font-size:1.5em;
  font-weight:bold;
  padding:3px 10px;
}
.etError {
  background-color:#cc0000;
  color:#fff;
}
.etNotice {
  background-color:#fff3b9;
}
.etError a {
  color:#fff;
}
.etResult table tr:nth-child(odd) td, .etRequestQuote table tr:nth-child(odd) td {
  background-color:#efefef;
}
.etStage .etStageDesc {
  border-left:3px solid #ccc;
  padding-left:5px;
}
.etRequired {
  color:#f00;
}
.bigContainer .etWidget, .bigContainer .etResult, .bigContainer .etRequestQuote {
  box-shadow:0px 5px 15px rgba(0,0,0,.15);
}
.etResult table, .etRequestQuote table {
  border:1px solid #ccc;
}
.carDetails {
  font-size:1.2em;
}